BTrees==5.0
cffi==1.15.1
click
colorama
Flask
gunicorn==20.1.0
itsdangerous
Jinja2
MarkupSafe
peewee==3.16.2
persistent==5.0
pycparser==2.21
PyMySQL==1.0.3
pyscard==2.0.7
six==1.16.0
transaction==3.1.0
Werkzeug
zc.lockfile==3.0.post1
ZConfig==4.0
ZODB==5.8.0
zodbpickle==3.0.1
zope.interface==6.0
