BTrees==5.0
cffi==1.15.1
click
colorama
Flask~=2.2.2
gunicorn==20.1.0
itsdangerous
Jinja2
MarkupSafe
peewee==3.16.2
persistent==5.0
psycopg2==2.9.6
pycparser==2.21
pycryptodome==3.17
six==1.16.0
transaction==3.1.0
Werkzeug
zc.lockfile==3.0.post1
ZConfig==4.0
ZODB==5.8.0
zodbpickle==3.0.1
zope.interface==6.0
Flask-Cors==3.0.10

cryptography~=39.0.1